/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/css
/public/js
tenancy.json
.env.cleaver
public/fonts
mix-manifest.json
